.card {
  width: 100%;

  .card-container {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    border-radius: 0.25rem;
  }

  .img-container {
    height: 250px;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  h4 {
    padding: 8px;
    margin: 0;
  }
}
